<div class="nav-container">
		    <nav>
		        <div class="nav-bar text-center">
		            <div class="col-md-2 col-md-push-5 col-sm-12 text-center">
		                <a href="#">
		                    <img alt="logo" class="image-xxs" src="img/logo-dark.svg">
		                </a>
		            </div>
		            <div class="col-sm-12 col-md-5 col-md-pull-2 overflow-hidden-xs">
		                <ul class="menu inline-block pull-right">
		                    <li><a href="https://marenodizajn.com/o-nama/">O nama</a></li>
		                    <li><a href="https://marenodizajn.com/dizajn-web-stranica/">Usluge</a>
		                    </li>
		                </ul>
		            </div>
		            <div class="col-sm-12 col-md-5 pb-xs-24">
		                <ul class="menu">
		                    <li><a href="https://marenodizajn.com/portfolio/">portfolio</a></li>
		                    <li><a href="https://marenodizajn.com/kontakt/">kontakt</a>
		                    </li>
		                </ul>
		            </div>
		        </div>
		        <div class="module widget-handle mobile-toggle right visible-sm visible-xs absolute-xs">
		            <i class="ti-menu"></i>
		        </div>
		    </nav>
		</div>