---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en-US" }}">

  {% include head.html %}

  <body class="site">

    {% if site.google_tag_manager %}

      <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ site.google_tag_manager }}"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->

    {% endif %}

    {% include header.html %}

    <div class="hero lazyload" data-bg="{{ site.url }}{{ site.baseurl }}/assets/img/{{ site.hero_img }}">
      <div class="hero__wrap">
        <h1 class="hero__title">{{ site.title | escape }}</h1>
        <p class="hero__meta">{{ site.tagline }}</p>
      </div>
    </div>

    <main class="site__content">
      <section>
        <div class="container">
          <h2>Nudimo kreativna i inovativna web dizajn riješenja!</h2>
          <p>Za svaku firmu je imperativ da imaju najbolja web dizajn rješenje. Web stranica pomaže vam da 
          proširite svoj poslovni doseg, dobijete više klijenata i promovirate svoje usluge. Mi razumijemo da 
          odnos i komunikacija s klijentima je najvažniji dio izgradnje uspješne web stranice, to je razlog 
          zašto smo stavili poseban naglasak na odnos firma-klijent. Uvijek u potrazi za najboljim rješenjem 
          za klijenta i cilj nam je uklopiti vašu viziju s našim dizajnom i na taj način postići željene rezultate. 
          Nudimo visoke standarde profesionalnih usluga, mi smo fleksibilni i spremni uložiti i dodatni napor 
          kako bi omogućili najbolji proizvod za naše klijente.</p>
       
        </div>
        </section>
      <section class="blog">
        <div class="container">
          <div class="post-list" itemscope="" itemtype="http://schema.org/Blog">

            {% for post in site.posts %}
              {% include card.html %}
            {% endfor %}

            <!-- {% include pagination.html %} -->
          </div>
        </div>
      </section>
    </main>

    {% include footer.html %}

  </body>

</html>
