<!doctype html>
<html lang="hr">
    <head>
        <meta charset="utf-8">
        <title>Redizajn svih tipova web stranica - responsive dizajn</title>
        <meta name="description" content="Freelance Web Dizajner &amp; UI Dizajner živimo i radimo u Dubrovniku. 
        Web design and build for beautiful, professional, bespoke websites and iOS apps.">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">     
    </head>
    <body>
		{% include nav.html %}		
		<div class="main-container">
            {{content}}
            {% include footer.html %}
        </div>    
        <link href="{{site.baseurl}}/css/main.css" rel="stylesheet" type="text/css" media="all" />
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400%7CRaleway:100,400,300,500,600,700%7COpen+Sans:400,500,600|Titillium+Web:100,300,400,600,700" rel="stylesheet"> 
        <script src="{{site.baseurl}}/js/jquery.min.js"></script>
        <script src="{{site.baseurl}}/js/bootstrap.min.js"></script>
        <script src="{{site.baseurl}}/js/smooth-scroll.min.js"></script>
        <script src="{{site.baseurl}}/js/parallax.js"></script>
        <script src="{{site.baseurl}}/js/scripts.js"></script>
    </body>
</html>